{{ $address := .Site.Params.address}}
<section class="contact" id="contact">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <div style="max-width:100%;list-style:none; transition: none;overflow:hidden;width:100%;height:100%"><div id="gmap-canvas" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=KTM+Energy+Solution,+Северна+Македонија&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe></div><a class="googlemaps-made" href="https://www.bootstrapskins.com/themes" id="make-map-infor-mation">premium bootstrap themes</a><style>#gmap-canvas img.text-marker{max-width:none!important;background:none!important;}img{max-width:none}</style></div>
      </div>
      <div class="col-lg-6">
        <div class="contact-aria">
          <h3>
            {{ $address.address | safeHTML }}
          </h3>
          <ul>
            {{ with $address.email }}<li><i class="ti-email"></i>&nbsp;<a href="mailto:{{ . }}">{{ . }}</a></li>{{ end }}
            {{ with $address.phone }}<li><i class="ti-mobile"></i>&nbsp;<a href="tel:{{ . }}">{{ . }}</a></li>{{ end }}
          </ul>
          <p>
            {{ $address.openingDesc }}
          </p>
          <p>{{ $address.openingHours }}</p>
        </div>
      </div>
    </div>
  </div>
</section>